server:
  port: 8000

spring:
  application:
    name: discovery-service
      
eureka:  client:    register-with-eureka: false
    fetch-registry: false
    service-url:      defaultZone: http://localhost:8000/eureka